/* Reset default margin and padding */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set background color and font styles */
body {
    font-family: 'Courier New', Courier, monospace; /* Monospaced font for Matrix effect */
    background-color: #000; /* Black background */
    color: #0f0; /* Green color for the code */
    overflow: hidden; /* Hide overflowing code */
    position: relative; /* Ensure proper positioning of green code */
}

/* Animation for green code */
@keyframes greenCode {
    0% { 
        transform: translateY(100vh); /* Start from the bottom of the screen */
        opacity: 0; 
    }
    5% { opacity: 1; }
    90%, 100% { 
        transform: translateY(-100%); /* Move to the top of the screen */
        opacity: 0; 
    }
}

/* Green code animation */
.green-code {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    font-size: 14px; /* Adjust font size */
    line-height: 1.6; /* Adjust line height for better readability */
    animation: greenCode 120s linear infinite; /* Adjust duration and timing function as needed */
    z-index: -1; /* Ensure the code animation is behind other content */
}

/* Individual code lines */
.green-code-line {
    opacity: 0.5; /* Initial opacity */
    animation: greenCodeOpacity 120s infinite linear alternate-reverse; /* Randomize opacity animation */
}

/* Randomize opacity animation */
@keyframes greenCodeOpacity {
    0% { opacity: 0.2; }
    50% { opacity: 0.5; }
    100% { opacity: 0.2; }
}

/* Add more detailed styling */
.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.activity-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.activity {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
}

.activity h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Add text shadow for emphasis */
}

.activity p {
    font-size: 16px;
    margin-bottom: 15px;
